.section--materials
  margin-top 145px
  &__title
    color #4a4a4a
    font-family "Montserrat"
    max-width 625px
    font-size 36px
    font-weight 800
    line-height 49px
  &__list
    margin-top 40px
    &_item
      height 148px
      box-shadow 0 20px 23px 1px rgba(87, 87, 87, 0.13)
      border-radius 9px
      padding 20px 55px
      background-color #ffffff
    &_logo
        object-fit contain
