.section--contacts
  margin-top 200px
  padding-top 100px
  padding-bottom 50px
  background-image url('../images/contacts-bg.png')
  background-size cover
  background-attachment fixed
  position relative
  &:before
    background-image linear-gradient(to left, #545457 0%, #131313 100%)
    opacity 0.79
  .container
    position relative

  &__title
    color #ffffff
    font-family "Montserrat"
    font-size 41px
    font-weight 700
    width 750px
    text-align center
    line-height 57px

  &__list
    &_item
      margin-top 20px
      &-title
        color #ffffff
        font-family Montserrat
        font-size 16px
        font-weight 300
        line-height 23px
        width 200px
      &-discription
        color #ffffff
        font-family Montserrat
        font-size 21px
        font-weight 300
        line-height 23px

  &__discription
    color #ffffff
    font-family Montserrat
    font-size 16px
    font-weight 300
    line-height 23px
    max-width 750px
    margin-top 50px
  .wrd-tabs
    margin-top 50px
    &__link
      color #ffffff
      font-family Montserrat
      font-size 17px
      font-weight 700
      line-height 57px
      &.active
        color #d44e3d
        border-bottom 2px solid
        padding-bottom 15px
      &:not(:last-child)
        margin-right 70px
    &__tabs
      margin-top 40px


.xerota
  width 911px
  margin-top 25px
  object-fit: contain;
