.section--select
  padding-right 200px
  margin-top 150px
  &__title
    color #4a4a4a
    font-family "Montserrat"
    font-size 36px
    font-weight 800
    text-align right
    padding-left 60px
    line-height 49px
  &__discription
    color #4a4a4a
    font-family Montserrat
    font-size 15px
    font-weight 300
    line-height 22px
    text-align right
    margin-top 35px
  &__info
    width 340px
    .button
        margin-top 30px
  &__slider
    width calc(100% - 340px - 50px)
    overflow hidden
    &_wrap
      width max-content
      height 450px
      
