.section--select
  padding-right 200px
  margin-top 150px
  &__title
    color #4a4a4a
    font-family "Montserrat"
    font-size 36px
    font-weight 800
    text-align right
    padding-left 60px
    line-height 49px
  &__discription
    color #4a4a4a
    font-family Montserrat
    font-size 15px
    font-weight 300
    line-height 22px
    text-align right
    margin-top 35px
  &__info
    width 340px
    .button
        margin-top 30px
  &__slider
    width calc(100% - 340px - 50px)
    overflow hidden
    &_wrap
      width max-content
      height 450px
    &_control
      margin-top 50px
    &_button
      background 0
      padding 5px 10px
      border 1px solid transparent
      transition .33s
      &:hover
        border 1px solid #4a4a4a
      &.button--prev
        margin-right 15px
        .icon
          transform rotate(180deg)

      .icon
        width 34px
        height 27px
        fill #4a4a4a
