.initial-screen
  position relative
  &__tonirovka
    width 100%
    height 415px
    background-color #3b3b3b
    opacity 0.48
    position absolute
    bottom 0
    border-top 1px solid #fff
  &__slide
    position relative
    &_info
      padding-top 330px
      padding-bottom 60px
    &_image
      position absolute
      z-index: -1
    &_sale
      color #d46f62
      font-family Circe
      font-size 21px
      font-weight 700
    &_title
      color #ffffff
      font-family "Montserrat"
      font-size 46px
      font-weight 800
      line-height 54px
      margin-top 5px
    &_discription
      color #ffffff
      font-family Montserrat
      font-size 15px
      font-weight 300
      line-height 22px
      margin-top 18px
      max-width 400px
    &_buttons
      margin-top 35px
      .button
        &:not(:last-child)
          margin-right 28px
